html,
body {
  margin: 0px;
  background-color: #4aaf4e;
  color: white;
}

.titulo {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.carta {
  position: relative;
  width: 150px;
  left: 75px;
  margin-left: -75px;
}

.jugador-cartas,
.computadora-cartas {
  min-height: 220px;
}